body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

/* section Header */

.header {
  background: url("../imgs/header/section-1\(header\).jpg"),
    lightgray 50% / cover no-repeat;
  object-fit: fill;
  background-attachment: fixed;
}

.header_nav {
  background: rgba(94, 93, 88, 0.6);
}

.header_nav_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav_box_titel {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
}

.header_nav_box_titel_item_link {
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header_nav_box_titel_item_link_word {
  position: absolute;
  top: calc(50%-20px);
  left: 13px;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
}

.header_nav_box_titel_item_link_text {
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  padding-left: 6px;
}

.header_nav_box_titel_item_link_text_green {
  font-weight: 700;
  color: #18cfab;
}

.header_nav_box_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav_box_info_list {
  display: flex;
  align-items: center;
  gap: 21px;
  padding-right: 21px;
}

.header_nav_box_info_list_items {
  padding: 49px 0px;
  position: relative;
}

.header_nav_box_info_list_items_link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.header_nav_box_info_list_items_link::after {
  content: "";
  min-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid #18cfab;
  transform: matrix(1, 0, 0, -1, 0, 0);
  opacity: 0;
}

.header_nav_box_info_list_items_link:hover {
  color: #18cfab;
}

.header_nav_box_info_list_items_link:hover::after {
  opacity: 1;
}

.header_nav_box_info_link {
  position: relative;
  max-width: 21px;
  max-height: 20px;
  object-fit: fill;
}
.header_nav_box_info_link_img_green {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.header_nav_box_info_link:hover .header_nav_box_info_link_img_green {
  opacity: 1;
}

/*form*/
.form {
  padding-left: 30px;
  display: none;
}

#search {
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(94, 93, 88, 0.6);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 16px;
}

#search::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 16px;
}

/* section creative*/

.header_creative {
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
  text-align: center;
  height: 100%;
  padding-bottom: 224px;
}

.header_creative_subtitel {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 22px;
  margin-top: 250px;
}

.header_creative_subtitel_grin {
  color: #18cfab;
}

.header_creative_titel {
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 22px;
}

.header_creative_text {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 129px;
}

.header_creative_button_green,
.header_creative_button_blu {
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  border-top: solid 5px white;
}

.header_creative_button_blu {
  padding: 16px 16px;
  background: #00cbf6;
}
.header_creative_button_green {
  margin-right: 26px;
  background: #18cfab;
  padding: 16px 23px;
}
/* section info*/

.main_info {
  margin-top: 8px;
  display: flex;
}

.flex_box {
  display: flex;
  justify-content: center;
  flex: 1 0 25%;
}

.main_info_option_support {
  padding-top: 87px;
  background: #1c2a33;
}

.link_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_info_option_support_link {
  color: #18cfab;
}

.main_info_customizable_device {
  padding-top: 97px;
  background: #18cfab;
}

.main_info_customizable_device_link {
  color: #ffffff;
}

.main_info_customizable_device_link_text,
.main_info_option_support_link_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 103px;
}

.main_info_customizable_device_link_text {
  padding-top: 59px;
}

.main_info_option_support_link_text {
  padding-top: 48px;
}

/* section services*/
.main_services {
  padding-top: 92px;
}

.titel_double_line {
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
}

.titel_double_line::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 2px;
  left: calc(50% - 24px);
  bottom: -30px;
  background: #18cfab;
}

.titel_double_line::after {
  content: "";
  position: absolute;
  width: 76px;
  height: 2px;
  left: calc(50% - 38px);
  bottom: -26px;
  background: #18cfab;
}

.main_services_box_professions {
  padding-bottom: 25px;
  padding-top: 100px;
}

.main_services_box_professions_list {
  display: flex;
  padding-right: 21px;
}

.main_services_box_professions_list_link {
  font-style: normal;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
  background: #f8fcfe;
  border: 1px solid #edefef;
  flex-grow: 1;
  text-align: center;
  padding: 17px 0px;
}

.main_services_box_professions_list_link:hover {
  border: 1.5px solid #18cfab;
}

.web_design_green {
  position: relative;
  background: #18cfab;
  color: #ffffff;
  animation: go 1s ease;
}
@keyframes go {
  0% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.web_design_green::after {
  content: "";
  background: #18cfab;
  position: absolute;
  left: calc(50% - 13.5px);
  bottom: -17px;
  width: 27px;
  height: 17px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.main_services_box_info {
  display: none;
}
.active {
  display: flex;
  animation: display 2s ease;
}
@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main_services_box_info_img {
  width: 192px;
  height: 139px;
  padding-right: 15px;
}

.main_services_box_info_text {
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
  text-align: justify;
}

/*Section Just Buy*/

.main_install {
  background: url(../imgs/background/section-2.jpg) no-repeat;
  background-size: cover;
  object-fit: fill;
  margin-top: 91px;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.main_install_opacity {
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  background-attachment: fixed;
}

.main_install_opacity_box_titel {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
  padding-top: 126px;
}

.main_install_opacity_box_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  padding-top: 12px;
  padding-bottom: 62px;
}

.main_install_opacity_box_button_green {
  margin-bottom: 130px;
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  border-top: solid 5px white;
}

/* section work*/
.main_work {
  padding-top: 97px;
  background: #e9edef;
}

.main_work_box_titel {
  margin-bottom: 93px;
}

.main_work_box_professions {
  margin: 0 auto;
  padding-bottom: 69px;
  max-width: 590px;
}

.main_work_box_professions_list {
  display: flex;
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.0001);
}

.main_work_box_professions_list_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  padding: 14px 15px;
  border: 1px solid #dadada;
  flex: 1 0 auto;
  text-align: center;
}

.main_work_box_professions_list_link:hover {
  border: 2px solid #18cfab;
  color: #18cfab;
}

.main_work_box_pictures {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}

.main_work_box_pictures_design {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 70px;
}
.main_work_box_pictures_design_spathe {
  position: relative;
  height: 211px;
  width: 100%;
  perspective: 1000px;
}

.main_work_box_pictures_design_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s ease;
  transform-style: preserve-3d;
}

.main_work_box_pictures_design_spathe:hover
  .main_work_box_pictures_design_inner {
  transform: rotateY(180deg);
}

.main_work_box_picture,
.main_work_box_pictures_design_pictures {
  position: absolute;
  backface-visibility: hidden;
  inset: 0;
  width: 100%;
  height: 100%;
}

.main_work_box_pictures_design_pictures {
  background: #e9edef;
  border-top: 4px solid #18cfab;
  transform: rotateY(180deg);
}
.main_work_box_picture {
  display: block;
}

.main_work_box_pictures_design_pictures_link {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.main_work_box_pictures_design_pictures_link_svg {
  position: absolute;
  top: 46px;
  left: calc(50% - 44px);
}

.main_work_box_pictures_design_pictures_text_green {
  display: block;
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
  padding-top: 112px;
}

.main_work_box_pictures_design_pictures_text_white {
  display: block;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
  padding-bottom: 34px;
}

.main_work_box_pictures_one {
  grid-column: 2/3;
  grid-row: 1/2;
}

.main_work_box_pictures_two {
  grid-column: 3/4;
  grid-row: 1/2;
}

.main_work_box_pictures_three {
  grid-column: 4/5;
  grid-row: 1/2;
}

.main_work_box_pictures_four {
  grid-column: 1/2;
  grid-row: 2/3;
}

.main_work_box_pictures_five {
  grid-column: 2/3;
  grid-row: 2/3;
}

.main_work_box_pictures_six {
  grid-column: 3/4;
  grid-row: 2/3;
}

.main_work_box_pictures_seven {
  grid-column: 4/5;
  grid-row: 2/3;
}

.main_work_box_pictures_eight {
  grid-column: 1/2;
  grid-row: 3/4;
}

.main_work_box_pictures_nine {
  grid-column: 2/3;
  grid-row: 3/4;
}

.main_work_box_pictures_ten {
  grid-column: 3/4;
  grid-row: 3/4;
}

.main_work_box_pictures_eleven {
  grid-column: 4/5;
  grid-row: 3/4;
}
.main_work_box_pictures_twel {
  grid-column: 1/2;
  grid-row: 1/2;
}
.hide {
  display: none;
}
.button_load {
  position: relative;
  background: #18cfab;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 24px 8px 49px;
  border-radius: 5px;
}

.main_work_box_button {
  margin-bottom: 100px;
}

.main_work_box_button_svg {
  position: absolute;
  top: calc(50% - 8px);
  left: 24px;
}

/*section Breaking*/
.main_breaking {
  padding-bottom: 131px;
}

.main_breaking_titel {
  padding-top: 82px;
  margin-bottom: 100px;
}

.main_breaking_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 33px 44px;
}

.main_breaking_box_items {
  position: relative;
}

.main_breaking_box_items:hover .main_breaking_box_items_data {
  background-color: #18cfab;
}

.main_breaking_box_items:hover .main_breaking_box_items_link_titel {
  color: #18cfab;
}

.main_breaking_box_items_link_titel {
  display: flex;
  justify-content: start;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  text-align: center;
  color: #717171;
  padding-left: 15px;
}

.main_breaking_box_text {
  padding-left: 15px;
  padding-right: 14px;
}

.main_breaking_box_items_link_text {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: #777777;
  padding-left: 15px;
}

.main_breaking_box_text::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #777777;
  opacity: 0.7;
  position: absolute;
  bottom: 3px;
  right: 0px;
}

.main_breaking_box_items_data {
  position: absolute;
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: #203e38;
}

.namber_data {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.main_breaking_box_items_data_number {
  padding-top: 14px;
}

.main_breaking_box_items_data_text {
  padding-bottom: 14px;
}

/*section people*/
.main_people {
  background: url("../imgs/background/section-3.jpg"),
    lightgray 50% / cover no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
  height: 100%;
}

.main_people_titel {
  color: #ffffff;
  padding-top: 100px;
  margin-bottom: 100px;
}

.main_people_box {
  display: none;
}

.active_info {
  display: block;
  backface-visibility: hidden;
}

.main_people_box_text {
  color: #bbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  padding-top: 37px;
  min-height: 210px;
}

.main_people_box_name {
  color: #18cfab;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

.main_people_box_professi {
  color: #bbb;
  font-size: 13px;
  font-weight: 300;
  line-height: 27px;
}
.main_people_box_user_foto {
  position: relative;
  margin: 0 auto;
  height: 100%;
  max-width: 170px;
  height: 164px;
  flex-shrink: 0;
  margin-top: 37px;
  margin-bottom: 20px;
}
.main_people_box_user_foto_block_img {
  display: block;
  border: 8px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_people_box_user_foto_block_svg {
  padding: 0px 2px;
}

.main_people_box_block {
  position: relative;
  margin-top: 57px;
  margin: 0 auto;
  max-width: 480px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_people_box_block_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 31px;
  max-height: 31px;
  border: 1px solid rgba(187, 187, 187, 1);
}
.main_people_box_block_arrow:hover {
  background-color: rgba(24, 207, 171, 1);
}
.main_people_box_block_foto_img {
  width: 59px;
  height: 59px;
  border: 5px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
}

.active_foto {
  align-self: flex-start;
  perspective: 1000px;
  animation: rotate 2s ease;
}

.active_info p,
.active_info h5 {
  perspective: 1000px;
  animation: opacity 2s ease;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.active_info img {
  perspective: 1000px;
  animation: rotate 2s ease;
}
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* section gallery */
.main_gallery {
}
.main_gallery_titel {
  padding-top: 107px;
  margin-bottom: 115px;
}
.main_gallery_contaiter {
  column-count: 3;
  margin-bottom: 65px;
}
.main_gallery_contaiter_item {
  max-width: 378px;
}
.main_gallery_box_img {
  width: 378px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.container_doubl_photo {
  overflow: hidden;
  display: flex;
  max-width: 358px;
  max-height: 168px;
}

.mini_container {
  overflow: hidden;
  max-width: 360px;
  max-height: 290px;
}
.main_gallery_box_img_doubl {
  width: 117px;
  height: 90px;
  margin-bottom: 3px;
}

.main_gallery_contaiter_load {
  display: flex;
  justify-content: center;
  margin-bottom: 67px;
}
/*footer*/
.footer {
  background: #22353f;
  text-align: center;
}
.footer_text_copyringht {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
  padding: 48px 0px;
}
.footer_text_green {
  color: #18cfab;
}
/* animation */
.middle {
  display: flex;
  justify-content: center;
}
.bar {
  width: 10px;
  height: 70px;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  animation: loader 1.2s linear infinite;
}

.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: #033d31;
  }
  50% {
    transform: scaleY(1);
    background: #18cfab;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
